@font-face {
    font-family: "GothamProRegular";
    src: url("../assets/fonts/GothamPro/GothamProRegular.woff") format("woff"),
        url("../assets/fonts/GothamPro/gothampro.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "GothamProMedium";
    src: url("../assets/fonts/GothamPro/Gotham Pro Medium Regular.woff") format("woff"),
        url("../assets/fonts/GothamPro/gothampro_medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "GothamProLight";
    src: url("../assets/fonts/GothamPro/GothamPro-Light.woff") format("woff"),
        url("../assets/fonts/GothamPro/gothampro_light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}