.footer {
    background-color: var(--background-color-header-footer);
    height: 140px;
    color: var(--text-color-header-footer);

}

.wrapper-footer {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 950px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-footer {
    padding: 8px 0px 0 9px;
}

.logo-footer__img {}

.wrapper-users-support {
    width: 14.5%;
    display: flex;
    padding: 21px 0 0 0px;
}

.support {
    text-transform: uppercase;

}

.support__mail-phone-link {
    text-transform: lowercase;
    text-decoration: none;
    color: #7cc576;
}

.support__mail-link:hover {
    text-decoration: underline;
}

.wrapper-contacts {
    width: 272px;
}

.contacts {
    display: flex;
    flex-direction: column;
    padding: 0px 0 0 36px;
}

.contacts__phone {
    text-decoration: none;
    font-size: 21px;
    color: var(--text-color-header-footer);
}

.contacts__work-time {
    color: #747275;
}