.header {
    background-color: var(--background-color-header-footer);
    height: 70px;
}

.wrapper-header {
    margin: 0 auto;
    max-width: 950px;

    display: flex;
    justify-content: space-between;
}

.wrapper-links {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0 1rem;
}

.header-link {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-color-header-footer);
}

.header-link:hover {
    text-decoration: underline;
}

.my-applications,
.my-data,
.report {
    display: flex;
    align-items: center;
    height: 50px;
    padding-right: 1rem;
    border-right: rgba(255, 255, 255, 0.2) 2px solid;
}