body {
    font-family: "GothamProRegular", sans-serif;
    background-color: var(--background-color-body);
    font-size: var(--font-size-main);
}

.main {
    max-width: 950px;
    margin: 0 auto;
    overflow: hidden;
    color: #3b3b3b;;
}

.star-warning {
    color: red;
}