.title {
    font-size: var(--font-size-report-title);
    font-weight: bold;
    padding: 1rem;
}

.reports {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color-main);
    padding: 2rem 3.2rem;
    border-radius: 3px;
    box-shadow: 0 4px 12px rgb(0 0 0 / 12%);
    margin: 0 0 50px 0;
}

/* ================= FORM ================= */

.wrapper-choose-period {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

}

.wrapper-choose-period__title {
    font-size: var(--font-size-report-choose-period-title);
    font-weight: bold;
}

.wrapper-inputs {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.wrapper-choose-period__start,
.wrapper-choose-period__finish {
    width: 195px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #F0F0F0;
    background-color: #f5f5f530;
    padding: 0 15px;
}

.wrapper-choose-period__start:hover,
.wrapper-choose-period__finish:hover,
.wrapper-choose-period__button:hover {
    cursor: pointer;

}

.wrapper-choose-period__button:hover {
    background-color: #7cc576d4;
}

.wrapper-choose-period__button:active {
    background-color: #579851;
}

.wrapper-choose-period__dash {
    font-size: 2rem;
    font-weight: normal;
}

.wrapper-choose-period__button {
    width: 240px;
    line-height: 42px;
    border: none;
    text-decoration: none;
    font-size: 13px;
    text-align: center;
    font-family: "GothamProMedium", sans-serif;
    text-transform: uppercase;
    background-color: #7cc576;
    border-radius: 4px;
    color: var(--text-color-header-footer);
}

.wrapper-choose-period__finish {}

.extraction {}

.extraction__title {
    font-size: var(--font-size-report-choose-period-title);
    font-weight: bold;
}

.extraction__description {
    font-size: var(--font-size-report-choose-period-text);
}

/* ============== Table ================ */
.table {
    margin: 1rem 0;
    max-width: 500px;
}


.wrapper-columns,
.wrapper-row {
    position: relative;
}

.wrapper-columns::after,
.date::after,
.amount-extraction::after,
.amount-tax::after {
    position: absolute;
    content: '';
    width: 85%;
    height: 2px;
    background-color: #F0F0F0;
    bottom: 0;
    left: 0;
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
}

.column-date,
.column-amount-extraction,
.column-amount-tax {
    font-size: var(--font-size-report-choose-period-text);
    font-weight: normal;
    color: #B0B0B0;
    padding: 0 0 0.5rem 0;
    text-align: left;

}

.date,
.amount-extraction,
.amount-tax {
    font-size: var(--font-size-report-choose-period-text);
    text-align: left;
    padding: .5rem 0;
}


/* =================== Attention =============*/
.text-warning {
    font-size: 12px;
    width: 50%;
    line-height: 1.15;
    text-align: justify;
}

.text-warning__attention {
    font-weight: bold;
}

.support__mail-link {}

.contacts__attention-phone {
    text-decoration: none;
    color: black;
}

/* =============== Amount extraction ============= */

.amounts-extraction-all,
.amounts-tax-all {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    margin: 1rem 0;
    font-size: var(--font-size-main);
}

.amounts-extraction-all__title,
.amounts-tax-all__title {
    margin: 0;
}

.amounts-extraction-all__sum,
.amounts-tax-all__sum,
.other_statistic__paid-lessons,
.paid-lessons__amount,
.other_statistic__lessons-learned,
.lessons-learned__amount,
.other_statistic__sum-lessons-learned,
.sum-lessons-learned__amount {
    font-size: var(--font-size-report-choose-period-text);
}
.paid-lessons__amount,
.lessons-learned__amount,
.sum-lessons-learned__amount {
    margin: 0 0 0 1rem;
}

.other_statistic {}

.other_statistic__title {
    font-size: var(--font-size-report-choose-period-title);
}

.description {
    font-size: 12px;
}