:root {
    --font-color-header-footer: rgb(255, 255, 255, 0.8);

    --background-color-body:#F5F5F5;
    --background-color-main: #fff;
    --background-color-header-footer: #333333;

    --text-color-header-footer: #fff;

    --font-size-main: 14px;
    --font-size-report-title: 25px;
    --font-size-report-choose-period-title: 20px;

    --font-size-report-choose-period-text: 14px;
}

