:root {
    --font-color-header-footer: #fff;

    --background-color-body:#F5F5F5;
    --background-color-main: #fff;
    --background-color-header-footer: #333333;

    --font-size-report-title: 30px;
    --font-size-report-choose-period-title: 25px;

    --font-size-report-choose-period-text: 20px;
}

